# Archivos y directorios generados por Python
*.pyc
*.pyo
__pycache__/

# Entornos virtuales
venv/
ENV/
env/
.venv/

# Archivos de Flask y Python
instance/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log

# Archivos de configuraciones de IDE
.vscode/
.idea/

# Archivos temporales
*.swp
*.bak
*.tmp

# archivos de Mac
.DS_Store
